*{
  margin: 0;
}
.mainContainer{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 25% 50% 25%;
}
.title{
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  justify-content: center;
  align-content: center;
  background-color: rgb(2, 7, 49);
}
.title-logo{
  max-width: 100%;
}

.slider {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
  height: 100vh;
  position: relative;
  background-color: rgba(6, 141, 194, 0.616);

}
.alt-menu{
  display: grid;
  grid-row: 3/4;
  grid-column: 1/2;
}

.image {

  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow{
  position: absolute;
  top: 50%;
  right: 3%;
  font-size: 3rem;
  color: black;
  cursor: pointer;
  user-select: none;
  z-index: 5;
}

.left-arrow{
  position: absolute;
  top: 50%;
  left: 3%;
  font-size: 3rem;
  color: black;
  cursor: pointer;
  z-index: 5;
  user-select: none;
}